In [ ]:
import tensorflow as tf
from tensorflow import keras

import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [ ]:
import matplotlib
print([tf.__version__, np.__version__, matplotlib.__version__])

['2.9.2', '1.21.6', '3.2.2']

In [ ]:
# loading dataset into train & test variables
fashion_mnist = keras.datasets.fashion_mnist

(train_images, train_labels) , (test_images, test_labels) = fashion_mnist.load_data()

# df = pd.read_csv('/content/fashion-mnist_train.csv')
# df_test = pd.read_csv('/content/fashion-mnist_test.csv')

In [ ]:
df = pd.DataFrame(train_images.reshape(60000,784))
df_test = pd.DataFrame(test_images.reshape(10000, 784))

In [ ]:
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense, Activation

In [ ]:
x_train = df.values[:,:] / 255
y_train = train_labels
y_train = np_utils.to_categorical(train_labels)

x_test = df_test.values[:,:] / 255
y_test = test_labels
y_test = np_utils.to_categorical(y_test)

print("Training Dataset")
print(x_train.shape)
print(y_train.shape)

print("Testing Dataset")
print(x_test.shape)
print(y_test.shape)

Training Dataset
(60000, 784)
(60000, 10)
Testing Dataset
(10000, 784)
(10000, 10)

In [ ]:
from tensorflow.python.ops.math_ops import dense_bincount
from keras.layers.reshaping.flatten import Flatten
# running this model for different batch_size with 20 epochs

def model_training(trainX, trainY, testX, testY, b_size):
  # defining model
    model = Sequential()

    model.add(Dense(512, input_shape = (784,)))
    model.add(Activation('relu'))

    model.add(Dense(256))
    model.add(Activation('relu'))

    model.add(Dense(10))
    model.add(Activation('softmax'))

  # compiling model
    model.compile(loss='categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

  # fit model
    history = model.fit(trainX, trainY, validation_data=(testX, testY), epochs=20, verbose=0, batch_size= b_size)

  # creating dataframe for (acc, val acc, loss, val loss) with different batch_size
    report = pd.DataFrame(history.history)
    return report

In [ ]:
# batch_s = [100,200,300,400]
# batch_s = np.array(batch_s)
# for i in range(len(batch_s)):
#     print(f"Report (acc, val acc, loss, val loss) for {batch_s[i]}: \n")
#     model_training(x_train,y_train, x_test, y_test, batch_s[i])

In [ ]:
print("Report (acc, val acc, loss, val loss) for 32: \n")
model_training(x_train,y_train, x_test, y_test, 32)

Report (acc, val acc, loss, val loss) for 32:

        loss  accuracy  val_loss  val_accuracy
0   0.467186  0.831083  0.410312        0.8468
1   0.354956  0.869917  0.391463        0.8603
2   0.318123  0.881533  0.351939        0.8726
3   0.293996  0.889250  0.348657        0.8758
4   0.278347  0.895817  0.332677        0.8817
5   0.262537  0.900700  0.322594        0.8878
6   0.249899  0.906150  0.347840        0.8820
7   0.240519  0.910350  0.326772        0.8821
8   0.228135  0.913567  0.346772        0.8827
9   0.218871  0.915883  0.354124        0.8836
10  0.210319  0.919950  0.356580        0.8899
11  0.204130  0.920917  0.383362        0.8846
12  0.194957  0.925367  0.363988        0.8888
13  0.189897  0.926400  0.352215        0.8950
14  0.181918  0.930400  0.405855        0.8867
15  0.174172  0.933033  0.364986        0.8893
16  0.171182  0.933617  0.381936        0.8915
17  0.165925  0.936150  0.368356        0.8923
18  0.160777  0.938033  0.435028        0.8875
19  0.157659  0.939000  0.404574        0.8854

In [ ]:
print("Report (acc, val acc, loss, val loss) for 100: \n")
model_training(x_train,y_train, x_test, y_test, 100)

Report (acc, val acc, loss, val loss) for 100:

        loss  accuracy  val_loss  val_accuracy
0   0.477889  0.828717  0.429087        0.8440
1   0.353219  0.869150  0.374524        0.8622
2   0.312370  0.884467  0.371350        0.8611
3   0.292968  0.890833  0.340612        0.8774
4   0.274839  0.896617  0.327054        0.8812
5   0.261730  0.901817  0.332716        0.8797
6   0.250228  0.905417  0.341927        0.8803
7   0.237736  0.910733  0.314337        0.8857
8   0.226113  0.913917  0.330491        0.8855
9   0.218715  0.917000  0.327060        0.8874
10  0.209222  0.920533  0.349659        0.8831
11  0.201627  0.923733  0.344757        0.8894
12  0.192403  0.927017  0.332996        0.8881
13  0.183774  0.930300  0.362381        0.8832
14  0.178209  0.931467  0.327250        0.8933
15  0.170532  0.934200  0.349589        0.8886
16  0.163912  0.936083  0.333133        0.8924
17  0.156420  0.939367  0.388498        0.8870
18  0.149347  0.942833  0.372606        0.8924
19  0.148768  0.943533  0.363291        0.8962

In [ ]:
print("Report (acc, val acc, loss, val loss) for 200: \n")
model_training(x_train,y_train, x_test, y_test, 200)

Report (acc, val acc, loss, val loss) for 200:

        loss  accuracy  val_loss  val_accuracy
0   0.505650  0.823333  0.436220        0.8480
1   0.360146  0.869350  0.378424        0.8641
2   0.319529  0.882017  0.367655        0.8677
3   0.295613  0.891450  0.362001        0.8636
4   0.278989  0.896083  0.333148        0.8815
5   0.263676  0.902017  0.319628        0.8854
6   0.248972  0.906867  0.318504        0.8881
7   0.240168  0.909533  0.311739        0.8890
8   0.226257  0.914717  0.310759        0.8923
9   0.214898  0.919467  0.339963        0.8885
10  0.210863  0.920917  0.326233        0.8888
11  0.202428  0.923600  0.314650        0.8921
12  0.192797  0.926050  0.333120        0.8867
13  0.187549  0.928967  0.349468        0.8879
14  0.183746  0.929883  0.336579        0.8894
15  0.172670  0.935117  0.333771        0.8940
16  0.165252  0.937200  0.339514        0.8917
17  0.157412  0.939767  0.340323        0.8935
18  0.153753  0.941900  0.347100        0.8938
19  0.149052  0.942850  0.368117        0.8889

In [ ]:
print("Report (acc, val acc, loss, val loss) for 300: \n")
model_training(x_train,y_train, x_test, y_test, 300)

Report (acc, val acc, loss, val loss) for 300:

        loss  accuracy  val_loss  val_accuracy
0   0.528195  0.816433  0.424120        0.8518
1   0.371119  0.865883  0.389580        0.8593
2   0.328902  0.880017  0.365025        0.8698
3   0.302741  0.888617  0.350629        0.8751
4   0.283812  0.895367  0.337339        0.8761
5   0.267084  0.900717  0.322966        0.8836
6   0.253000  0.906100  0.323686        0.8853
7   0.240998  0.909250  0.341805        0.8787
8   0.229139  0.915300  0.333181        0.8828
9   0.225145  0.915233  0.341402        0.8810
10  0.213433  0.919950  0.318710        0.8929
11  0.204939  0.922883  0.332457        0.8837
12  0.198155  0.925633  0.325433        0.8938
13  0.189643  0.928183  0.323170        0.8891
14  0.182730  0.931117  0.311865        0.8937
15  0.173339  0.934150  0.330876        0.8934
16  0.170445  0.934833  0.316841        0.8949
17  0.165478  0.937533  0.344716        0.8911
18  0.157992  0.940217  0.330216        0.8923
19  0.155341  0.941083  0.346997        0.8923

In [ ]:
print("Report (acc, val acc, loss, val loss) for 400: \n")
model_training(x_train,y_train, x_test, y_test, 400)

Report (acc, val acc, loss, val loss) for 400:

        loss  accuracy  val_loss  val_accuracy
0   0.560379  0.804517  0.453723        0.8363
1   0.380884  0.864233  0.385867        0.8632
2   0.342086  0.875783  0.374004        0.8639
3   0.307976  0.887483  0.353536        0.8742
4   0.287436  0.895250  0.343792        0.8780
5   0.274838  0.899467  0.344167        0.8735
6   0.255833  0.904633  0.337754        0.8796
7   0.242024  0.909550  0.320457        0.8844
8   0.234997  0.912183  0.313877        0.8877
9   0.219006  0.918700  0.321805        0.8888
10  0.210280  0.921283  0.318894        0.8882
11  0.205820  0.922033  0.320804        0.8893
12  0.196235  0.926817  0.322569        0.8876
13  0.192629  0.927800  0.329109        0.8865
14  0.182049  0.931967  0.324431        0.8893
15  0.182120  0.931400  0.322376        0.8935
16  0.172094  0.936283  0.319736        0.8967
17  0.163084  0.939633  0.338649        0.8905
18  0.157211  0.940183  0.337771        0.8880
19  0.156955  0.941333  0.346716        0.8886